{
	auto_https off
	admin off
}

(cart-routes) {
	handle /api/* {
		reverse_proxy backend:2946
	}

	handle {
		reverse_proxy frontend:3750
	}
}

http://<your-hostname> {
	import cart-routes
}

:80 {
	import cart-routes
}
